on early-init
    export EXTERNAL_STORAGE /mnt/sdcard
    mkdir /storage 0050 system sdcard_r
    # for backwards compatibility
    symlink /mnt/sdcard /storage/sdcard0

on fs
    mount_all /fstab.exynos5250-arndale

# To enable gralloc to read /proc/cmdline for
# opening different framebuffer than default

on post-fs
	chmod 0444 /proc/cmdline
