
   /dev/mali             0666    system    system
   /dev/ump              0666    system    graphics
   /dev/video*           0666    root      root
   /dev/i2c-6            0666    system    system
   /dev/CEC              0666    system    system
   /dev/HPD              0666    system    system
   /dev/s5p-rp           0666    system    audio
   /dev/s5p-rp_ctrl      0666    system    audio
   /dev/graphics/*       0666    root      graphics
